<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet #1 - Calculatrice</title>
    <link rel="shortcut icon" href="/assets/favicon/octocat.png" type="png">

</head>

<body>
    <header>
        <h1>Section 9 : Projet #1 - Calculatrice</h1>
    </header>
    <section>
        <ul>
            <li><a href="../index.html">Retour à l'accueil</a></li>
        </ul>
    </section>

    <script src="../js/projet1Calculatrice.js"></script>
</body>

</html>