<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet #6 - Une application météo</title>
    <link rel="shortcut icon" href="/assets/favicon/octocat.png" type="png">
    <link rel="stylesheet" href="../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../css/projet6.css">

</head>

<body>
    <header>
        <h1>Projet #6 - Une application météo</h1>
    </header>
    <section>
        <div class="container">

            <div class="row justify-content-center">

                <div class="col-md-8">
                    <!-- Titre -->
                    <h1 class="text-center mt-5">Météo</h1>

                    <!-- Ville / Temperature -->
                    <div class="text-center">
                        <span id="ville">paris</span>

                        <div id="temperature">
                            <span id="temperature_label">
                                xx.x
                            </span> °C
                        </div>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <!-- Changer de ville -->
                    <div id="changer"
                        class="mt-2 text-center p-3 text-white font-weight-bold text-uppercase d-inline-block">
                        Changer de ville
                    </div>
                </div>

            </div>

        </div>
    </section class="my-5 p-3">
    <footer class="bg-dark text-white text-center fixed-bottom p-3">
        <div class="container-fluid">
            <p>2020 - MilleCodesLN - Mille Hélène - <a href="../index.html">Accueil</a></p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="../js/projet6.js"></script>
</body>

</html>