<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session 36</title>
    <link rel="shortcut icon" href="/assets/favicon/octocat.png" type="png">

</head>

<body>
    <header>
        <h1>Session 36 : Les conditions (if/else)</h1>
    </header>
    <section>
        <ul>
            <li><a href="../index.html">Retour à l'accueil</a></li>
        </ul>
    </section>

    <script src="../js/session36.js"></script>
</body>

</html>